{% extends 'base.html.twig' %}
{% block title %} trocServices {% endblock %}

{% block  body %}
    <h1 class="text-center">  Bienvenue sur TrocService </h1><br>
    <div class="container">
        <div class="row">
        {% for t in trocs %}
                    <div class="col">
                        <a class="nav-link" href="/{{ path('troc', {'id': 'x'}) }}"><img class="img-fluid" src="{{ t.photo }}" alt="{{ t.serviceDemande }}"/></a>
                    </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}